/* ================================================================ */


/*  $7 - Screen Transitions                                         */


/* ================================================================ */

.slide-from-right-enter.slide-from-right-enter-active,
.slide-from-right-leave.slide-from-right-leave-active,
.slide-from-left-enter.slide-from-left-enter-active,
.slide-from-left-leave.slide-from-left-leave-active,
.slide-from-top-enter.slide-from-top-enter-active,
.slide-from-top-leave.slide-from-top-leave-active,
.slide-from-bottom-enter.slide-from-bottom-enter-active,
.slide-from-bottom-leave.slide-from-bottom-leave-active,
.fade-enter.fade-enter-active,
.fade-leave.fade-leave-active {
    transition: transform 300ms ease-out, opacity 300ms ease-out;
    .content {
        transition: transform 300ms ease-out, opacity 300ms ease-out;
    }
}

.fade-enter.fade-enter-active .header {
    transition: transform 300ms ease-out, opacity 300ms ease-out;
}

.fade-enter.fade-enter-active,
.fade-leave.fade-leave-active {
    transition: all 330ms ease-in-out;
    opacity: 0;
}

.fade-enter {
    opacity: initial;
    &.fade-enter-active {
        opacity: initial;
    }
}

.slide-from-right-enter .content,
.slide-from-left-leave.slide-from-left-leave-active .content {
    transform: translateX(100vw) translateZ(0);
}

.slide-from-left-leave.slide-from-left-leave-active .content {
    transform: translateX(30vw) translateZ(0);
    opacity: 0;
}

.slide-from-right-leave .content,
.slide-from-right-enter.slide-from-right-enter-active .content,
.slide-from-left-leave .content,
.slide-from-left-enter.slide-from-left-enter-active .content {
    transform: translateX(0vw) translateZ(0);
}

.slide-from-right-leave.slide-from-right-leave-active .content,
.slide-from-left-enter .content {
    transform: translateX(-100vw) translateZ(0);
}

.slide-from-right-leave.slide-from-right-leave-active .content {
    transform: translateX(-30vw) translateZ(0);
    opacity: 0;
}

.slide-from-right-enter,
.slide-from-left-leave.slide-from-left-leave-active,
.slide-from-right-leave,
.slide-from-right-enter.slide-from-right-enter-active,
.slide-from-left-leave,
.slide-from-left-enter.slide-from-left-enter-active,
.slide-from-right-leave.slide-from-right-leave-active,
.slide-from-left-enter {
    transform: none;
}

.slide-from-right-leave.slide-from-right-leave-active .header,
.slide-from-left-leave.slide-from-left-leave-active .header {
    opacity: 0;
}


/* Fade Transition */

.fade-enter .content {
    will-change: opacity;
    opacity: 0;
}

.fade-enter.fade-enter-active .content {
    opacity: 1;
}

.fade-leave.fade-leave-active .header {
    transition: none;
    opacity: 0;
    transform: translateY(-200px);
}

.screen-container.fade-leave {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}


/* Bottom and Top Transitions */

.slide-from-bottom-leave.slide-from-bottom-leave-active {
    transform: translateY(-30vh) translateZ(0);
    opacity: 0;
}

.slide-from-top-leave.slide-from-top-leave-active {
    transform: translateY(30vh) translateZ(0);
    opacity: 0;
}


/* Demo London User Group*/

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight, tada, tada, ;
    animation-iteration-count: 1, 2, 3;
    animation-delay: 0s, 5s, 10s;
    animation-duration: 4s, 1s, 1s;
}

@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/* END */